.avatar {
    background-color: #9bbf65;
}

.slot {
    width: 80px;
    max-width: 80px;
    height: 80px;
    max-height: 80px;
    background-color: #bebfb2;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    border-radius: 6px;
    border: 3px solid grey;

    text-align: center;
    line-height: 80px;
}

.slot-full {
    width: 80px;
    max-width: 80px;
    height: 80px;
    max-height: 80px;
    background-color: #bebfb2;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    border-radius: 6px;
    border: 3px solid grey;
    text-align: center;
    line-height: 80px;
}


.slot-full.common {
    border: 3px solid #1ebf3a;
}

.slot-full.magic {
    border: 3px solid #2a60bf;
}

.slot-full.epic {
    border: 3px solid #b23dbf;
}

.slot-full.legendary {
    border: 3px solid #bf6719;
}